@keyframes loading-dots-scale-up-and-down {
  0% {
    transform: scale(0.1);
  }

  50% {
    transform: scale(1);
  }

  90% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(0.1);
  }
}
