# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project across various editors and IDEs.
# More information can be found at http://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.yml]
indent_size = 2

[*.md]
indent_size = 2

[*.{js,jsx,ts,tsx}]
indent_size = 2
