**/*.gql
**/*.json
__generated__

**/*/admin/**/*.js
.yarn
.pnp.js
.yarnrc.yml
node_modules
.build*
yarn.lock
package-lock.json
.changeset
js/dashboard/build
js/dashboard/src/styles.css
coverage
identity/CHANGELOG.md
js/dashboard/CHANGELOG.md
js/content-api/CHANGELOG.md
**/dist/
terraform/**/.terraform
**/*.tfstate
# Ignore any .next folder
**/.next/**
examples/hugo-quickstart
**/out.md
_response.md
