{{ $color := .color | default "default" }}

<div class="max-w-7xl mx-auto px-6 sm:px-8 py-24">
  <div class="text-center">
    {{ with .title }}
      <h2 class="text-balance text-4xl font-semibold lg:text-5xl text-inherit">{{ . }}</h2>
    {{ end }}

    {{ with .description }}
      <div class="mt-4 text-inherit opacity-90 max-w-2xl mx-auto">{{ . }}</div>
    {{ end }}

    {{ with .actions }}
      <div class="mt-12">
        {{ partial "actions.html" (dict "actions" . "parentColor" $color "class" "justify-center py-2") }}
      </div>
    {{ end }}
  </div>
</div>
