{{ $color := .color | default "primary" }}
{{ $isPrimary := eq $color "primary" }}

<div class="max-w-7xl mx-auto px-6 sm:px-8 py-24">
  <blockquote>
    <div class="relative z-10 max-w-3xl mx-auto text-4xl lg:text-5xl font-bold tracking-normal text-center title-font {{ if $isPrimary }}text-white{{ else }}text-gray-700 dark:text-gray-50{{ end }}">
      <span class="block opacity-15 text-8xl absolute inset-y-1/2 transform translate-y-2 -left-4 leading-4 -z-1">&ldquo;</span>
      {{ with .quote }}
        <p class="relative opacity-95">{{ . }}</p>
      {{ end }}
      <span class="block opacity-15 text-8xl absolute inset-y-1/2 transform translate-y-3 -right-4 leading-4 -z-1">&rdquo;</span>
    </div>
    <div class="my-8 flex-grow-0">
      <span class="block mx-auto h-0.5 w-1/6 {{ if $isPrimary }}bg-white/30{{ else }}bg-gray-200 dark:bg-gray-700{{ end }}"></span>
    </div>
    <footer class="text-center">
      {{ with .author }}
        <p class="tracking-wide title-font font-bold text-lg {{ if $isPrimary }}text-white/80{{ else }}text-theme-500 dark:text-theme-300{{ end }}">
          {{ . }}
        </p>
      {{ end }}
    </footer>
  </blockquote>
</div>
