NEXT_PUBLIC_ORGANIZATION_NAME=<get this from the organization you create at auth.tina.io>
NEXT_PUBLIC_TINA_CLIENT_ID=<get this from the app you create at auth.tina.io>

# These are used in conjunction with a Cloudinary account for media asset management
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=<Get this from your Cloudinary account>
NEXT_PUBLIC_CLOUDINARY_API_KEY=<Get this from your Cloudinary account>
CLOUDINARY_API_SECRET=<Get this from your Cloudinary account>

# 1 indicates that Tina form submissions should persist to your local filesystem instead of Github
# You can find that logic in utils/index.ts
NEXT_PUBLIC_USE_LOCAL_CLIENT=1

# 0 means do not show the edit button and 1 means show the edit button (the button is always shown when in edit mode)
# If the button is not present you can go to /admin to enter edit mode

NEXT_PUBLIC_SHOW_EDIT_BTN=1