@tailwind base;
@tailwind components;
@tailwind utilities;

.tina-tailwind {
  @apply font-sans text-gray-600 text-base;
}

/* if the last block has margin-bottom it makes the text box larger but some of it isn't clickable */
.tina-prose [data-slate-editor='true'] {
  padding-bottom: 0.5em;
}
/* prose adds backticks, which look like they should be editable */
.tina-prose [data-slate-editor='true'] .slate-code::before {
  content: '';
}
.tina-prose [data-slate-editor='true'] .slate-code::after {
  content: '';
}
.tina-prose [data-slate-editor='true'] .slate-code_block {
  margin: 0;
}
/* code lines as part of a block don't need the same background formatting */
.tina-prose [data-slate-editor='true'] .slate-code_block .slate-code {
  background: none;
}
/* prose makes the first p in a block slightly larger */
.tina-prose [data-slate-editor='true'] p:first-of-type {
  font-size: 1em;
}

/* experimental floating toolbar doesn't need a large text area */
.with-toolbar [data-slate-editor='true'] {
  min-height: 72px;
}

.lexical-editor ul {
  list-style: disc !important;
}
.lexical-editor ul ul {
  list-style: circle !important;
}
.lexical-editor ul ul ul {
  list-style: square !important;
}

/* prose adds backticks, which look like they should be editable */
.lexical-editor code::before {
  content: '';
}
.lexical-editor code::after {
  content: '';
}

.lexical-editor hr {
  margin: 8px 0 !important;
  @apply bg-gray-200;
}
/* TODO: update lexical as support for this was just merged */
p {
  --lexical-indent-base-value: 10px;
}

.lexical-editor :where(p):not(:where([class~='not-prose'] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.lexical-editor :where(blockquote):not(:where([class~='not-prose'] *)) {
  font-weight: normal;
  font-style: normal;
  color: var(--tw-prose-quotes);
  border-left-width: 0.25rem;
  border-left-color: var(--tw-prose-quote-borders);
  quotes: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}
